<!DOCTYPE html>
<html>
  <head>
        <title>
            Timetable Scheduler
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
    <title>timetable</title>
    
    <link rel="stylesheet" type="text/css" href="tbl.css">
  </head>
  <body>
    <div class="main" >
                <div class="logo">
                    <h2>TIMETABLE SCHEDULER</h2>
                </div>
                <nav>
                  <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./adins.html">Add Instructor</a></li>
                    <li><a href="./addrm.html">Add Room </a></li>
                    <li><a href="./addmt.html">Add Meeting time</a></li>
                    <li><a href="./adcrs.html">Add Course</a></li>
                    <li><a href="./addep.html">Add department</a></li>
                  </ul>
                </nav>
                  </div>



  </body>
</html>